.Gender{
    height: 100%;
    width: 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15vw;
}
.Gender button{
    height: 90%;
    padding: .8rem 1.5rem;
    /* background-color: rgb(218, 218, 218); */
    /* color: rgba(126, 126, 126, 0.931); */
    border-radius: 12px;
    border: none;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
}
.active {
    color: rgba(255, 255, 255, 0.931);
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.33);
    background-color: rgb(6, 7, 14);

}